#modal-content {
  border-radius: min(2vmin, 1rem);
}
.login-modal {
  margin: min(5vmin, 2rem);
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-size: min(3vmin, 0.8rem);
  display: flex;
  flex-direction: column;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-title {
  font-family: "Marcellus", serif;
}
.login-label {
  font-weight: bolder;
  margin-top: min(4vmin, 1rem);
  margin-bottom: min(1vmin, 0.2rem);
}
.login-input {
  font-size: min(8vmin, 2rem);
  border-radius: 1vmin;
  border: grey solid 0.1rem;
  box-shadow: inset 0rem 0.5vmin 0.5vmin lightgrey;
  width: min(75vmin, 20rem);
  align-items: center;
}
#submit-login,
#demo-user {
  width: min(75vmin, 20rem);
  margin: 3vmin;
  border: grey 0.1rem solid;
  background-color: rgb(36, 36, 36);
  color: white;
  font-weight: bolder;
  font-size: min(4vmin, 1.2rem);
  padding: min(2vmin, 0.3rem);
  border-radius: 5rem;
  margin: 0rem;
  margin-top: 3vmin;
  cursor: pointer;
}
.submit-login {
  width: 15rem;
  height: 2rem;
  border-radius: 5rem;
  border: solid grey 0.2rem;
  justify-content: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.login-trouble {
  text-align: center;
  margin-top: 2rem;
}

.demo-user:hover {
  color: green;
}
.errors {
  color: red;
}
