.shop-businesscard {
    display: flex;
    flex-direction: row;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
}
.user-manage-shop-pic {
    width: 8rem;
    height: 8rem;
    border-radius: .3rem;
    object-fit: cover;
}
.user-manage-business-text {
    margin-left: 1rem;
}
.user-manage-shop-name{
    margin-bottom: 0rem;
}
.user-manage-button {
    border: solid grey 2px;
    border-radius: 0rem;
    padding: .2rem;
    margin-right: .5rem;
    margin-top: .5rem;
    font-family: 'Mulish', sans-serif;
}
.user-manage-button i {
    font-size: .7rem;
}
.user-manage-edit-shop {
    background-color: rgb(51, 51, 51);
    color: white;
    font-weight: bolder;
    transition: ease-in-out .3s;
    cursor: pointer;
}
.user-manage-create {
    cursor: pointer;
}
.user-manage-edit-shop:hover {
    box-shadow: 0rem 0rem .5rem black;
}
.user-manage-edit-shop:active {
    background-color: rgb(103, 103, 103);
}
.user-manage-edit-shop i {
    color: white;
}
.create-product-icon {
    color: rgb(81, 81, 81);
}
.fa-pen,
.fa-screwdriver-wrench {
    margin-right: .3rem;
}
.fa-trash-can {
    color: red;
    margin-right: .2rem;
}
