/* color: rgb(130, 52, 149); */
.search-results-div {
    margin-left: 2rem;
}
.search-result-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.search-result-img {
    height: 15rem;
    width: 21rem;
    border-radius: .2rem;
    object-fit: cover;
}
.est-arrival {
    border-radius: 3rem;
    /* height: 2rem; */
    width: fit-content;
    padding: .7rem;
    margin: 1rem;
    border: black solid .1rem;
    font-size: .8rem;
}
.est-arrival-time {
    font-weight: bolder;
}
.search-product-card {
    margin: .5rem;
}
.search-product-name {
    font-size: 1rem;
    margin: 0rem
}
.search-stars {
    color: black;
    font-size: .9rem;
}
.grey-search-stars,
.search-new-product {
    font-size: .9rem;
    margin: 0rem;
}
.search-results-stars{
    margin: 0rem;
}
.search-results-stars-gold {
    color: black;
}
.search-results-stars-black {
    color: grey;
}
.search-badge {
color: rgb(130, 52, 149);
font-size: 1.1rem;
}
.search-star-seller {
    font-size: .8rem;
    font-weight: bolder;
}
.search-result-price {
    font-weight: 900;
    color: black;
    margin: 0rem;
}
.search-result-shop {
    color: rgb(70, 70, 70);
    font-weight: 300;
    font-size: .8rem;
    margin: 0rem;
}
.search-more-like {
    font-size: .8rem;
    color: black;
    font-weight: bold;
    margin: 0rem;
}
