.bld {
    font-family: bold;
}
.cart-content{
    display: grid;
    /* margin: 0 7rem; */
    grid-template-columns: 1fr minmax(5rem, 20rem);
}
.shopping-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.shop-info{
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(34,34,34,.15);
    padding-left: 1rem;
    padding-right: 1rem;
}
.checkout-div{
    flex-direction: column;
    margin-left: 1rem;
}
.cart-product{
    display: flex;
    margin-top: 2.5rem;
}
.cart-product-info-top{
    text-decoration: none;
}
.cart-product-image {
    width: 10vmax;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.cart-select-quantity {
    /* width: 3rem;
    height: 3rem; */
    /* font-size: 1.3vmin; */
    /* font-weight: bold; */
    /* border: .1rem solid darkgray; */
    /* border-radius: .3vmin; */
    /* transition: ease-in-out .2s; */
    /* margin: 1vmin; */
    /* padding: .25vmin; */

    transition: border-color 200ms ease-out,box-shadow 200ms ease-out;
    /* -webkit-appearance: none; */
    /* -ms-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
    box-shadow: 0 1px 6px 0 rgba(34,34,34,.15);
    display: block;
    font-family: inherit;
    font-size: minmax(10px, 16px);
    /* height: 2.6vmax; */
    padding-left: .75vmax;
    padding-right: .8vmax;
    /* width: 100%; */
    border-radius: 6px;
    background: #fff;
    border-color: rgba(34,34,34,.15);
    border-style: solid;
    border-width: 1px;
    color: #222;
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
}
.cart-select-quantity:hover {
    box-shadow: 0rem 0rem .1px .5px black;
}
.cart-select-quantity > * {
    margin-left: .1rem;
}
.cart-grey-text {
    color: rgb(90, 90, 90);
    font-size: .9rem;

}
.cart-details {
    display: grid;
}
.contact-us-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.shop-title-and-image > h3 {
    margin-left: .75rem;
}
.shop-title-and-image{
    margin-top: 1rem;
    display: flex;
    height: 2.5rem;
    align-items: center;
}
.shop-title-and-image > h3 {
    display: flex;
    align-items: center;
}
.shop-title-and-image > img{
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    border-radius: 10%;
}
.names-are-hard{
    /* width: 70vw; */
    margin-right: 1rem;
}
.remove-from-cart-button{
    transition: ease-in-out .3s;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    border-radius: 5rem;
    /* border: 0.2rem darkgrey solid; */
    /* background-color: green; */
    margin: 0 1rem;
    transition: all .25s ease-in;
}

.remove-from-cart-button:hover, .remove-from-cart-button:focus {
    /* box-shadow: 0rem 0rem .5rem black; */
    background-color: lightgrey;
    cursor: pointer;
}
.no-user-no-cart{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.checkout-cart-button {
    border-radius: 24px;
    background-color: rgb(0 0 0);
    /* border: solid .2rem black; */
    color: white;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: .1s ease-in-out;
}

.checkout-cart-button:hover{
    background-color: rgb(0, 0, 0, .8);
    box-shadow: 0 0 0px 1px rgb(0, 0, 0, .8);
    /* outline: ridge aqua .3rem; */

    cursor: pointer;
}
.qty-and-remove {
    display: flex;
    align-items: bottom;
    align-self: flex-end;
}
.cart-quantity > h2 {
    margin: 0;
}
.payment-methods {
    display: flex;
    flex-direction: column;
}

.contact-shop {
    text-decoration: none;
    color: grey;
}
.contact-shop:hover {
    text-decoration: underline grey;
}
.order-page {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    min-height: 44vh;
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 5fr 1fr; */
    min-width: min-content;
    max-width: 80vw;
    margin: 0 1rem;
}
.cart-wrapper-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    width: 90%; */

}
.purchase-protection {
    display: flex;
    margin: 1rem 0;
    /* margin: clamp(1vmin, 2rem, 2.75rem) 5.25rem 0 5.25rem; */
    padding: .5rem 0;
    border-radius: 1.25rem;
    background-color: #d7e6f5;
    justify-content: left;
    align-items: center;
}
.purchase-protection > * {
    font-size: 13px;
}

.etsy-purchase-protection {
    margin-right: .25rem;
    font-weight: 600;
    align-items: center;
    display: flex;
}

.fa-handshake {
    font-size: 30px;
    color: rgb(119, 119, 209);
    margin-left: 1rem;
    margin-right: .5rem;
    align-self: center;
}
.show {
    color: red;
}

.the-bubble {
  display: none;
  position: relative;
  margin-left: 100px;
  top: 0;
  left: 0;
  background-color: #fd0d0d;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease-in-out;
  z-index: 10;
}

.the-bubble.show{
    display: block;
    opacity: 1;
}

.keep-shopping-link {
    text-decoration: none;
    color: black;
}

.placeholder-name {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
}
.cost-block {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.item-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    margin: 0 1rem;
}

.single-item-cost {
    text-align: end;
    /* width: 7rem; */
    color: grey;
    font-size: .85rem;
}
.cart-errors {
    font-size: min(3vmin, 1.5rem);
    margin: 3vmin;
}

.thank-you-div {
   font-size: 3vmin;
}

.no-items {
    font-size: 3vmin;
    text-align: center;
}

.empty-cart {
    text-align: center;
}
.discover{
    color: black;
}
.pay-how {
    font-weight: 700;
    font-size: 1rem;
}


@media only screen and (max-width: 1100px) {
    .cart-content {
    grid-template-columns: 1fr;

    }
    .names-are-hard {
        /* width: 90vw; */
    }
    .remove-from-cart-button {
        margin: 1vmax;
    }
    .cart-product{
        margin-top: .2rem;
    }
    .signle-item-cost {
        margin: 0rem;
    }
    .checkout-div {
        width: auto;
    }
}

@media only screen and (max-width: 600px){
    .purchase-protection{
        /* flex-direction: column;
        text-align: center; */

    }
}
