.landing-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.landing-header {
    justify-content: center;
    background-color: peachpuff;
    padding: 4vmin;
}
.top-banner-suggest {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    max-width: 75rem;
}
div.top-banner-suggestions > p {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-weight: bold;
    width: 10vw;
    max-width: 10rem;
    font-size: 1.5vmin;
}
.suggest-image {
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10vw;
    width: 10vw;
    height: 10vw;
    max-width: 10rem;
    max-height: 10rem;
}
.welcome-title {
    font-family: 'Marcellus', serif;
    font-weight: 200;
    text-align: center;
    margin: 3vmin;
    font-size: 4vmin;
}
.by-etsy-header {
    margin: .25rem;
    /* width: 15rem;
    height: 15rem; */
    border-radius: .5rem;
}
p.sponsored {
    margin-top: 4vmin;
}
.by-etsy-title {
    font-family: 'Mulish', sans-serif;
}
.from-etzy-sellers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* width: 80vw; */
    max-width: 70rem;
    gap: 1vmin;
}
.from-etzy-closing {
    margin: .1vw;
    border-radius: .5rem;
    margin-top: 5vmin;
}
.shop-our-title {
    color: black;
}
h2.shop-our-title {
    font-family: 'Mulish', sans-serif;
    font-size: 4vmin;
    margin-top: 8vmin;
}
h3.shop-our-title {
    font-family: 'Thasadith', sans-serif;
    font-size: 3vmin;
}
.shop-our-titles {
    max-width: 95vw;
    position: relative;
    position: sticky;
    width: 80vw;
}
.shop-our-mapped {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* max-width: 94rem; */
}
.selection-card {
    /* width: 16rem;
    height: 16rem; */
    border: lightgray solid .1rem;
    border-radius: .5rem;
    overflow: hidden;
    margin: .5vmin;
}
.shop-our-selections {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-our-select-img {
    width: 18vmin;
    height: 15vmin;
    border-radius: .5rem;
    object-fit: cover;
}
.selection-subtitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2vmin;
    margin-top: .5vmin;
}
.shops-youll-love {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmin;
    margin-top: 15vmin;
    margin-bottom: 15vmin;
}
h1.shops-youll-love-title{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 4.5vmin;
}
h3.shops-youll-love-title {
    font-family: 'Thasadith', sans-serif;
    font-size: 3.5vmin;
}
.shops-youll-love-text {
    height: 12em;
    width: 22rem;
    /* margin-left: 2rem; */
}
.what-is-etzy > h1 {
    font-family: 'Marcellus', serif;
    text-align: center;
    margin-bottom: 3rem;
}
.what-is-etzy {
    margin-left: 2rem;
    margin-right: 2rem;
}
.column-container {
    font-family: 'Mulish', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    max-width: 1200px;
    gap: 3vmin;
    justify-content: center;
    margin: 0 auto;
    line-height: 2vmin;
}

.what-is-etzy > h2 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
.fa-question {
    font-size: 1.7vmin;
}
.have-questions,
.what-is-title,
.column-title {
    font-size: 4vmin;
    line-height: 5vmin;
}
.what-is-paragraph {
    font-size: 2vmin;
    line-height: 4vmin;
}
/*
@media only screen and (max-width: 1600px){
    .suggest-image,
    .suggest-image-div {
        max-width: 8rem;
        max-height: 8rem;
    }
    .top-banner-suggestions {
        max-width: 8rem;
    }
}
@media only screen and (max-width: 1200px){
    .suggest-image-text {
        font-size: .8rem;
    }
    .selection-card {
        width: 12rem;
        height: 12rem;
        margin: .5rem;
    }
    .shop-our-select-img {
        width: 12rem;
        height: 9rem;
    }
    .column-container {
        gap: 1rem;
    }
    .column-title {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 1024px){
    .welcome-title {
        font-size: 1.7rem;
        margin: 1.7rem;
    }
    .suggest-image-text {
        font-size: .8rem;
        overflow-wrap: anywhere;
    }
    .top-banner-suggest {
        justify-content: space-between;
        gap: .5rem;
    }
    .top-banner-suggestions {
        width: 6rem;
    }
    .suggest-image,
    .suggest-image-div {
        width: 6rem;
        height: 6rem;
    }
    .selection-card {
        width: 8rem;
        height: 8rem;
        margin: .5rem;
        border-radius: .3rem;
    }
    .shop-our-select-img {
        width: 8rem;
        height: 6rem;
        border-radius: .3rem;
    }
    .selection-subtitle {
        font-size: 1rem;
    }
    .column-container {
        gap: 1rem;
    }
    .column-title {
        font-size: 1.3rem;
    }
    .what-is-paragraph {
        font-size: .8rem;
        line-height: 1.3rem;
    }
    .column-title {
        font-size: 1rem;
    }
    .logoim {
        height: 3rem;
        width: 3rem;
        margin-left: .5rem;
    }
    .logo {
        font-size: 2rem;
        margin-left: .5rem;
    }
}
@media only screen and (max-width: 768px){
    .welcome-title {
        font-size: 1rem;
        margin: 1rem;
    }
    .top-banner-suggest {
        gap: .3rem;
    }
    .header-tabs {
        visibility: hidden;
    }
    .header-container {
        height: 3.5rem;
    }
    .suggest-image,
    .suggest-image-div {
        width: 4rem;
        height: 4rem;
    }
    .top-banner-suggestions {
        width: 4rem;
    }
    .suggest-image-text {
        font-size: .6rem;
        width: 4rem;
    }
    .shop-our-select-img {
        width: 6rem;
        height: 4rem;
        border-radius: .2rem;
    }
    .selection-card {
        width: 6rem;
        height: 6.5rem;
        margin: .25rem;
    }
    .selection-subtitle {
        font-size: .8rem;
        margin: 0rem;
    }
    .shops-youll-love{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .column-container {
        display: flex;
        flex-direction: column;
    }
    .column-title {
        margin: 1rem;
    }
    .search-bar {
        margin: 0rem;
    }
    h2.shop-our-title {
        font-size: 1.5rem;
    }
    h3.shop-our-title {
        font-size: 1rem;
    }
    .shops-youll-love{
        font-size: .8rem;
    }
    .what-is-etzy > h1,
    .have-questions {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 480px){
    .logoim {
        width: 2rem;
        height: 2rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .search-bar-form,
    .header-search {
        height: 1rem;
    }
    .search-bar {
        height: 1.1rem;
        margin: .2rem;
    }
    .fa-magnifying-glass {
        font-size: .7rem;
    }
    .telescope-search {
        padding: .3rem;
        padding-top: 0rem;
        padding-bottom: .4rem;
    }
    .header-icons,
    .fa-user-circle {
        font-size: 1rem;
        padding: 0rem;
    }
    .landing-header {
        padding: 1rem;
        margin: 0rem;
    }
    .what-is-paragraph {
        font-size: .6rem;
    }
} */

/*
@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 480px){

}
*/

@media only screen and (max-width: 480px){
    .column-container {
        display: block;
        /* text-align: center; */
        /* font-size: 2vmin;
        line-height: 2vmin; */
    }
}
