.landing-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.landing-80 {
    width: min(80vw, 70rem);
}
.landing-header {
    justify-content: center;
    z-index: 1;
    position: absolute;
    width: min(80vw, 70rem);
}
.landing-header-accent {
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 33vmin;
    background-color: #d7e6f5;
    z-index: 0;
}
.top-banner-suggest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.6vmin;
}
.top-banner-suggestions {
    transition: .2s ease-in-out;
}
.top-banner-suggestions:hover {
    box-shadow: inset 0rem -.3rem rgb(64, 64, 64);
    scale: 1.10;
}
div.top-banner-suggestions > p {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-weight: bold;
    width: 12vmin;
    font-size: 1.5vmin;
}
.suggest-image {
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10vw;
    width: 12vmin;
    height: 12vmin;
}

.welcome-title {
    font-family: 'Marcellus', serif;
    font-weight: 200;
    text-align: center;
    margin: 3vmin;
    font-size: 4vmin;
}
.by-etsy-header {
    margin: .25rem;
    border-radius: .5rem;
}
p.sponsored {
    font-size: min(3vmin, 1.5rem);
}
.by-etsy-title {
    font-family: 'Mulish', sans-serif;
    font-size: min(5vmin, 2rem);
}
.from-etzy-sellers {
    display: grid;
    grid-template-columns: 7fr 5fr 3fr 5fr;
    grid-auto-rows: 1fr 1fr;
    margin-top: 40vmin;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2vmin;
}

.from-etzy-closing {
    margin: .1vw;
    border-radius: .5rem;
    font-size: min(2.5vmin, 1.2rem);
    display: flex;
    align-content: center;
}
.closing-text {
    display: flex;
    align-items: center;
}
h2.shop-our-title {
    font-family: 'Mulish', sans-serif;
    font-size: min(5vmin, 2rem);
    margin-top: 8vmin;
}
h3.shop-our-title {
    font-family: 'Thasadith', sans-serif;
    font-size: min(3vmin, 1.7rem);
    color: rgb(77, 77, 77);
}
.shop-our-titles {
    position: relative;
    position: sticky;
    width: 100%;
}
.shop-our-mapped {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.selection-card {
    border: lightgray solid .1rem;
    border-radius: .5rem;
    overflow: hidden;
    margin: .5vmin;
    transition: .2s ease-in-out;
    color: black;
}
.selection-card > img {
    width: 100%;
    height: 20vmin;
    border-radius: .5vmin;
    object-fit: cover;
}
.selection-card:hover {
    box-shadow: 0rem 0rem .5rem grey;
}
.shop-our-selections {
    display: flex;
    flex-direction: column;
    margin-top: 6vmin;
}
.shop-our-select-img {
    border-radius: .5rem;
    object-fit: cover;
}
.selection-subtitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2vmin;
    margin-top: .5vmin;
}
.shops-youll-love {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmin;
    margin-top: 15vmin;
    margin-bottom: 15vmin;
}
h1.shops-youll-love-title{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: min(4vmin, 1.7rem);
    font-weight: bold;
}
h3.shops-youll-love-title {
    font-family: 'Thasadith', sans-serif;
    font-size: min(3vmin, 1.5rem);
}
.popular-gifts {
    margin-top: 7vmin;
}
.popular-gifts-titles {
    display: flex;
    font-family: 'Mulish', sans-serif;
}
.popular-gifts-mapped {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vmin;
}
.what-is-etzy > h1 {
    font-family: 'Marcellus', serif;
    text-align: center;
    margin-bottom: 3rem;
    font-size: min(5vmin, 2rem);
}
.what-is-etzy {
    margin-left: 2rem;
    margin-right: 2rem;
}
.column-container {
    font-family: 'Mulish', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    max-width: 1200px;
    gap: 2vmin;
    justify-content: center;
    margin: 0 auto;
    line-height: 2vmin;
}

.what-is-etzy > h2 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: min(5vmin, 2rem);
}
.column-title {
    font-size: min(5vmin, 2rem);
}
.fa-question {
    font-size: 1.7vmin;
}
.have-questions,
.what-is-title,
.column-title {
    font-size: min(5vmin, 2rem);
    line-height: 5vmin;
}
.what-is-title {
    margin-top: 10vmin;
}
.what-is-paragraph {
    font-size: 2vmin;
    line-height: 4vmin;
}

/*
@media only screen and (max-width: 1600px){

}
 @media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 480px){

}
*/
@media only screen and (max-width: 1200px){
    .landing-80,
    .landing-header, .header{

        width: min(90vw, 70rem);

    }
}
@media only screen and (max-width: 768px){
    .shops-youll-love {
        display: grid;
        grid-template-columns: auto auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vmin;
        margin-top: 15vmin;
        margin-bottom: 15vmin;
    }
}
@media only screen and (max-width: 480px){
    .column-container {
        display: block;

    }
}
