.shop-product-preview-image {
    object-fit: cover;
    height: 14em;
    width: 16rem;
    border-radius: .3rem;
    margin-top: 0rem;
    object-fit: cover;
}
.shop-product-card {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    font-family: 'Mulish', sans-serif;
    line-height: 1.2rem;
    height: 17rem;
    width: 16rem;
    transition: .2s ease-in-out;
    position: sticky;
    border-radius: .5rem;
    position: relative;
    /* overflow: hidden; */
    /* margin: 3px; */
}
.shop-product-name {
    margin-top: 0rem;
}
.shop-product-price {
    font-weight: bolder;
}
a.product-name, a.shop-product-price {
    text-decoration: none;
}
.shop-product-card:hover {
    box-shadow: 0rem 0rem 1rem grey;
    outline: 1px solid transparent;
}
.shop-product-name, .shop-product-price {
    margin-top: 0;
    font-size: .9rem;
}

.shop-product-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.shop-product-bottom {
    display: flex;
    flex-direction: row;
}
#shop-delete-button,
#shop-edit-button {
    padding: .2rem;
    margin: 0;
    text-decoration: none;
    border: grey .2rem solid;
    color: black;
    font-weight: 600;
    font-size: .8rem;
    border-radius: .3rem;
    margin-bottom: .4rem;
    margin-left: .4rem;
    cursor: pointer;
    transition: ease-in-out .3s;
}
#shop-delete-button:hover,
#shop-edit-button:hover {
    box-shadow: 0rem 0rem .5rem black;
}
#shop-delete-button:active,
#shop-edit-button:active {
    background-color: red;
}
/* #shop-delete-button {
    background-color: rgb(185, 28, 28);
}
#shop-edit-button {
    background-color: rgb(22, 22, 142);
} */
/* #shop-edit-button {
    margin: 0;
    text-decoration: none;
} */
