.shop-product-preview-image {
    object-fit: cover;
    height: 14vw;
    width: 16vw;
    border-radius: .3rem;
    margin-top: 0rem;
    object-fit: cover;
}
.shop-product-card {
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    line-height: 1.2rem;
    transition: .2s ease-in-out;
    position: sticky;
    border-radius: .5rem;
    position: relative;
}
.shop-product-name {
    margin-top: 0rem;
    font-size: 1.3rem;
}
.shop-product-price {
    font-weight: bolder;
}
a.product-name, a.shop-product-price {
    text-decoration: none;
}
.shop-product-card:hover {
    box-shadow: 0rem 0rem 1rem grey;
    outline: 1px solid transparent;
}
.shop-product-name, .shop-product-price {
    margin-top: 0;
    font-size: .9rem;
}
.shop-product-info {
    margin-left: .5rem;
}
.shop-product-buttons {
    position: absolute;
    bottom: .1rem;
    right: .1rem;
}
.shop-product-bottom {
    display: flex;
    flex-direction: row;
}
#shop-delete-button,
#shop-edit-button {
    padding: .2rem;
    margin: 0;
    text-decoration: none;
    border: grey .1rem solid;
    color: black;
    font-weight: 600;
    font-size: .8rem;
    border-radius: .3rem;
    margin-left: .2rem;
    cursor: pointer;
    transition: ease-in-out .3s;
}
#shop-delete-button:hover,
#shop-edit-button:hover {
    box-shadow: 0rem 0rem .5rem black;
}
#shop-delete-button:active,
#shop-edit-button:active {
    background-color: red;
}
/* #shop-delete-button {
    background-color: rgb(185, 28, 28);
}
#shop-edit-button {
    background-color: rgb(22, 22, 142);
} */
/* #shop-edit-button {
    margin: 0;
    text-decoration: none;
} */

@media only screen and (max-width: 1200px){
    /* .shop-product-card {
        height: 13rem;
        width: 13rem;
    }
    .shop-product-preview-image {
        height: 10rem;
        width: 13rem;
    } */
}
@media only screen and (max-width: 1024px){
    /* .shop-product-card {
        height: 11rem;
        width: 10rem;
    }
    .shop-product-preview-image {
        height: 8rem;
        width: 10rem;
    } */
    #shop-delete-button,
    #shop-edit-button,
    .shop-product-name,
    .shop-product-price {
        font-size: .6rem;
    }
}
@media only screen and (max-width: 768px){
    .shop-product-card {
        /* height: 8.5rem;
        width: 8rem; */
        border-radius: .2rem;
    }
    .shop-product-preview-image {
        /* height: 6rem;
        width: 8rem; */
        border-radius: .2rem;
    }
    #shop-delete-button,
    #shop-edit-button,
    .shop-product-name,
    .shop-product-price {
        font-size: .5rem;
    }
}
@media only screen and (max-width: 480px){

}
