.popular-product-card
.popular-result-img {
    width: 100%;
    height: 20vmin;
    border-radius: min(2vmin, .5rem);
    object-fit: cover;
}
.popular-product-card {
    margin-bottom: min(3vmin, 1rem);
}
.popular-product-name,
.popular-star-seller,
.popular-result-price {
    font-size: min(1.7vmin, .8rem);
}
.popular-result-price {
    font-size: min(2.3vmin, 1rem);
    font-weight: bolder;
    color: black;
}
.popular-product-name {
    color: rgb(117, 117, 117);
}
