.unfollow-button {
    display: block
}

.whole-unfollow {
    width: 70vmin;
    max-width: 20rem;
    margin: 2rem;

    /* display: flex; */
}

.unfollow-button {
    margin-bottom: 1rem;
}



.unfollow-shop-modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}