.post-shop-div {
    margin: 6vmin;
}
h1.post-shop-title {
    font-family: 'Libre Baskerville', serif;
    margin-top: 0vmin;
    justify-content: center;
    font-size: min(5vmin, 2.5rem);
    text-align: center;
}
.post-shop-form {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 5vmin;
    width: 80vmin;
    max-width: 40rem;
    box-shadow: 0rem 0rem 1vmin grey;
    padding: 5vmin;
    border-radius: 1vmin;
}
.post-shop-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-shop-grey {
    font-size: 2vmin;
    color: rgb(68, 68, 68);
    padding: 1vmin;
}
.create-shop-input {
    margin-bottom: 2vmin;
}
.submit-create-shop {
    font-size: 2vmin;
    font-weight: bolder;
}
.create-shop-input-field {
    height: 3vmin;
    width: 30vmin;
    border-radius: 1vmin;
}
textarea.create-shop-input-field {
    height: 15vmin;
}
.shop-create-description {
    border-width: min(.5vmin, 2px);
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.category-input {
    margin-top: 2vmin;
}
input#file-upload-button{
    background-color: aqua;
}
