/* TODO Add site wide styles */

body {
    font-family: 'Mulish', sans-serif;
    margin: 0px;
}
hr {
    margin: min(3vmin, 1.7rem);
}
input[type="file" ] {
    padding: min(2vmin, 1rem);
    font-size: min(2vmin, 1rem);
}
