.shop-polices {
    width: 20rem;
    margin: 2rem;
}
#shop-pol-title {
    width: 20rem;
    margin-top: 1rem;
    font-family: 'Marcellus', serif;
}
.credit-cards-img {
    width: 20rem;
}
.credit-cards,
.shop-polices,
#shop-pol-title,
#shop-pol-text,
.shop-polices-payments,
.shop-policies-cancellations,
.shop-policies-payments {
    width: 25rem;
    margin-left:2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
.lock-icon {
    margin-left: 2rem;
}
.shop-policies-sharing {
    margin-bottom: 2rem;
    font-size: .8rem;
    color: rgb(64, 64, 64);
}
.shop-policies-gift-cards{
    color: rgb(64, 64, 64);
}
.shop-policies-payments{
    margin-bottom: 1rem;
}
.shop-pol-modal > button,
.shop-pol-modal {
    width: 10rem;
    height: 2.5rem;
    border-radius: 5rem;
    /* border: black solid 2px; */
    transition: .2s ease-in-out;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.shop-pol-modal > button:hover,
.shop-pol-modal {
    box-shadow: 0rem 0rem .5rem black;
}
.shop-pol-modal {
    box-shadow: none;
}
.shop-pol-modal,
.shop-pol-modal > button:active {
    background-color: gray;
}

.shop-pol-lock {
    margin-right: 1rem;
}
