button {
    background-color: white;
    border: none;
    padding: .3rem;
    justify-content: center;
}
.fa-user-circle {
    font-size: 2.5vmin;
    color: #A0A7B2
}
.hidden {
    display: none;
}
.profile-dropdown {
    position: fixed;
    border-radius: .5rem;
    border: solid slategrey 1px;
    top: 6rem;
    right: 7rem;
    background: white;
    padding: 2rem;
    line-height: 2rem;
    font-family: 'Mulish', sans-serif;
}
.subtext {
    line-height: 1.3rem;
}
.drop-down-icons {
    font-size: 1.5rem;
    color: #A0A7B2;
}
.popout-profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: .2rem;
}
.popout-profile-header > i {
    font-size: 1.2rem;
}
.popout-profile-header >  {
    font-size: 1.2rem;
    margin-left: 1.5rem;
}
.subtext {
    font-size: .8rem;
}
.profileburger {
    cursor: pointer;
}
.profile-drop-item {
    margin-right: 1rem;
}
.signout-button {
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
}
