button {
  background-color: white;
  border: none;
  justify-content: center;
  padding: 0;
}
.fa-user-circle {
  font-size: 2.5vmin;
  color: #a0a7b2;
}
.fa-user-circle:hover {
  color: black;
}
.hidden {
  display: none;
}
.profile-dropdown {
  position: absolute;
  display: block;
  border-radius: 2vmin;
  border: solid slategrey 1px;
  box-shadow: 0rem 0rem min(3vmin, 1rem) rgb(110, 110, 110);
  background: white;
  line-height: 4vmin;
  font-family: "Mulish", sans-serif;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  top: 30px;
  padding: 1.5vmin 0;
}
.profile-dropdown::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent; /* Adjust border size as needed */
  border-right: 10px solid transparent; /* Adjust border size as needed */
  border-bottom: 10px solid white; /* Adjust border size and color as needed */
}

.subtext {
  line-height: 1.7vmin;
  font-size: 1.5vmin;
}
.drop-down-icons {
  font-size: 2vmin;
  color: #a0a7b2;
}
.popout-profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0.2rem;
}
.drop-down-user-name {
  margin: 1vmin 0;
}
.popout-profile-header > i,
.profile-drop-item,
.profile-drop-text,
.signout-button,
.drop-down-user-name {
  font-size: 2vmin;
  color: black;
}

.profile-drop-item {
  margin-right: 2vmin;
  background-color: green;
  height: 3vmin;
  aspect-ratio: 1;
  display: flex;
}
.profile-drop-div {
  background-color: blue;
  display: flex;
}
.signout-button {
  cursor: pointer;
  font-family: "Mulish", sans-serif;
}


.inside-div {
  display: flex;
  align-items: center;
  color: black;
  padding: 0 2vmin;
}
.inside-div:hover {
  background-color: rgba(100, 100, 100, 0.5);
}
.icon-span {

  height: 3vmin;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.dropdown-row,
.drop-down-icons,
.subtext {
  color: black;
}

.dropdown-row {
  transition: 0.2s ease-in-out;
}
.dropdown-row:hover {
  background-color: #b4b4b4;
}

.modal-button {
  padding: 0 1rem;
}
.modal-button:hover {
  background-color: rgba(100, 100, 100, 0.5);
}
.modal-button > button {
  background: none;
}
