
.header-container {
    border-bottom: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    /* height: 7rem; */
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.logoim {
    object-fit: cover;
    height: 7vmin;
    width: 7vmin;
    margin-left: 1vmin;
    margin-top: 1vmin;
}
.header-tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Mulish', sans-serif;
    font-size: .8rem;
}
.logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 5vmin;
    align-self: center;
    color: rgb(222, 103, 6);
    flex-grow: 1;
}
.header-search {
    background-color: none;
    min-width: 30vw;
    border: none;
    background-color: white;
    /* height: min(3vmin) max(1.5rem); */
    align-content: center;
    z-index: 1;
    border-radius: 5rem;
    padding-left: 1rem;
    font-size: min(1.5vmin, 1.5rem);
}
.search-bar {
    display: flex;
    border: darkslategray solid 2px;
    border-radius: 3rem;
    height: min(4.5vmin, 2.5rem);
    /* font-size: min(3vmin, 1rem); */
    margin-left: .5rem;
    margin-right: .5rem;
    transition: .6s;
    z-index: 1;
}
.telescope-search{
    /* padding-top: .5vmin; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-right: min(2vmin, 2rem);
    padding-left: min(2vmin, 2rem);
    border-radius: 0% 1rem 1rem 0%;
}
.header-icons {
    font-size: 2.5vmin;
    color: #A0A7B2;
}
/* marc */
.telescope-search:hover{
    cursor: pointer;
}
.header a {
    text-decoration: none;
}
.search-bar-form {
    display: flex;
    flex-direction: row;
    z-index: 0;
}
.fa-magnifying-glass{
    font-size: min(2.5vmin, 1.2rem);
    text-align: right;
    align-content: center;
    right: 20vw;
    transition: .6s;
}
input.header-search:focus-within +.telescope-search {
    background-color: rgb(27, 25, 25);
    color: white;
}
input.header-search:focus-within +.telescope-search > .fa-magnifying-glass {
    color: white;
}
input:focus, text:focus .header-search {
    outline: none;
}

.shop-manager {
    position: relative;
}
.cart {
    position: relative;
}
.header-tip {
    visibility: hidden;
    background-color: white;
    border-radius: .3rem;
    position: absolute;
    justify-content: space-between;
    padding: .4rem;
    box-shadow: 0rem 0rem 1rem grey;
    transition: all .3s ease-in-out;
    top: 140%;
    left:50%;
    transform: translate(-50%);
    font-size: 1rem;
}
.shop-manager:hover .header-tip {
    visibility: visible;
    opacity: 1;
}
.cart:hover .header-tip {
    visibility: visible;
    opacity: 1;
}
.header-tip::after {
    content: '';
    position: absolute;
}
.header-tip::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    transform: rotate(0deg);
    border-radius: 4px 4px 0 0;
}
div.navigation:hover {
    cursor: pointer;
}
.number-in-cart {
    position: absolute;
    background-color: rgb(180, 33, 33, .9);
    color: white;
    font-size: 1.5vmin;
    font-weight: bolder;
    width: fit-content;
    padding: .2rem;
    border-radius: 3rem;
    z-index: 100;
    right: -1vmin;
    top: -1vmin;
}
.fa-cart-shopping.header-icons,
.number-in-cart {
    margin-right: 2vmin;
}
.cart-total {
    z-index: 101;
    position: absolute;
}

@media only screen and (max-width: 480px) {
    /* .header {
        flex-direction: column;
    }
    .icons {
        display: flex;
    } */
  }
@media only screen and (max-width: 1024px){
    .header-tabs {
        display: none;
        content: '';
    }
}
@media only screen and (max-width: 768px){
    .number-in-cart {
        top: 0vmin;
    }
}
