/* font-family: 'Marcellus', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Special Elite', cursive;*/
.header-container {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    height: 7rem;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header-tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Mulish', sans-serif;
    font-size: .8rem;
  }
  .logo {
    font-family: 'Marcellus', serif;
    font-size: 2.5rem;
    font-size: 3rem;
    align-self: center;
    color: rgb(222, 103, 6);
    margin-left: 3rem;
    flex-grow: 1;
}
.header-search {
    background-color: none;
    width: 40vw;
    /* height: 3rem; */
    border: none;
    background-color: white;
    overflow: hidden;
    margin-left: 1rem;
    align-items: center;
}
.search-bar {
    display: flex;
    width: 60vw;
    border: darkslategray solid 2px;
    border-radius: 3rem;
    height: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.telescope-search{
    align-items: flex-end;
    margin-right: 1rem;
}
.cart {
    margin-right: 2rem;
    font-size: 1.5rem;
}
.header a {
    text-decoration: none;
}
