
.header-tip {
  visibility: hidden;
  background-color: white;
  border-radius: 0.3rem;
  position: absolute;
  justify-content: space-between;
  padding: 0.4rem;
  box-shadow: 0rem 0rem 1rem grey;
  transition: all 0.3s ease-in-out;

  transform: translate(-50%);
  font-size: 1rem;
  color: black;
}

.cart:hover .header-tip {
  visibility: visible;
  opacity: 1;
}
.header-tip::after {
  content: "";
  position: absolute;
}
.header-tip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  transform: rotate(0deg);
  border-radius: 4px 4px 0 0;
}

.navigation {
  position: relative;
}

div.navigation:hover {
  cursor: pointer;
}
.number-in-cart {
  position: absolute;
  background-color: #faa077;
  font-size: 0.8rem;
  font-weight: bolder;
  width: -moz-fit-content;
  padding: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  right: -1vmin;
  top: -1vmin;
  height: 1.25vmin;
  width: 1.25vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-total {
  z-index: 101;
  position: absolute;
}

.profileburger:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .header-tabs {
    display: none;
    content: "";
  }
}
