.left-arrow,
.right-arrow {
    font-size: 4vw;
    color: white;
    opacity: .8;
    position: absolute;
    top: 20vw;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}
.right-arrow {
    right: 1vw;
}
.left-arrow {
    left: 1vw;
}
.slider-images {
    width: 41vw;
    height: 41vw;
    border-radius: .5rem;
    object-fit: cover;
}
.product-image-slider {
    position: relative;
    width: 41vw;
    height: 41vw;
    margin: 2vw;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media only screen and (max-width: 768px){
    .left-arrow,
    .right-arrow {
        font-size: 7vmin;
    }
}
