.product-detail-div {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: min(80vw, 70rem);
    justify-content: center;
}
.product-deets {
    display: flex;
    justify-content: center;
}
.product-preview-img {
    width: 5vmin;
    height: 5vmin;
    object-fit: cover;
    border-radius: .3rem;
    margin:  .3vw;
    cursor: pointer;
}
.product-grid-div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.chosen-image {
    transition: .2s ease-in-out;
    outline: solid black min(.5vmin, .2rem);
    outline-offset: min(.2vmin, .1rem);
}
.product-preview-img:not(.chosen-image) {
    opacity: .6;
    transition: .2s ease-in-out;
}
.product-preview-img:not(.chosen-image):hover {
    opacity: 100%;
}
.review-card-div {
    display: flex;
}
.prod-price {
    font-weight: bold;
    font-size: min(3vmin, 2rem);
    margin-bottom: min(2vmin, 1.5rem);
}
.prod-search {
    font-size: 3vmin;
    margin-bottom: 1vmin;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}
.store-sales {
    font-size: 1.5vmin;
}
.store-name {
    margin-bottom: 5px;
}

.shipping-div {
    display: flex;
    color: black;
}

.name-follows {
    display: flex;
    font-size: min(1.7vmin, .9rem);
}

.add-to-cart-button {
    border-radius: 24px;
    background-color: rgb(37, 37, 37);
    color: white;
    font-weight: bolder;
    font-size: 2vmin;
    min-width: 5rem;
    padding: 1vh;
    margin-bottom: 1.5vmin;
    width: 100%;
    transition: .2s ease-in-out;
}
.add-to-cart-button:hover {
    cursor: pointer;
    background-color: rgb(91, 91, 91);
    scale: 1.05;
}
.out-of-stock {
    border-radius: 24px;
    background-color: rgb(80, 80, 80);
    color: rgb(238, 222, 222);
    font-weight: bolder;
    font-size: 2vmin;
    min-width: 5rem;
    padding: 1vh;
    margin-bottom: 1.5vmin;
    width: 100%;
}

.cant-add-cart-button {
    border-radius: 2rem;
    display: block;
    padding: 1vmin;
    margin-bottom: 1vmin;
    background-color: grey;
    color: white;
}
.store-info {
    margin-bottom: 1vh;
}

.free-shipping-div {
    margin-bottom: 4vmin;
    font-size: 1.7vmin;
}
.product-deets-stars {
    margin: 0 .1rem;
    font-size: 1.5vmin;
}
.product-deets-blank {
    color: grey;
}
.cart-quantity {
    width: 100%;
    height: 4vmin;
    font-size: 2vmin;
    border-radius: .5rem;
    box-shadow: 0rem 0rem min(1.5vmin, .5rem) grey;
    border: none;
    margin: .2rem 0rem min(3vmin, 1.5rem) 0rem ;
    transition: .2s ease-in-out;
}
.cart-quantity:hover {
    cursor: pointer;
}
.cart-quantity:focus-within {
    outline: solid royalblue;
    outline-offset: 2px;
}
.quantity  {
    font-size: min(1.5vmin, .8rem);
}
.product-deets-shop {
    color: #000;
    font-weight: bold;
}





















.prod-description-text,
.free-shipping-div
.shop-name,
.store-follows {
    font-size: min(2vmin, 1rem);
    line-height: min(3vmin, 1.5rem);
}
.subimage-div {
    display: flex;
    flex-direction: column;
}
.product-subimage {
    object-fit: cover;
}
.both-images-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product-subimages-div {
    display: flex;
}
.gold-star-product-deets {
    color: black;
    margin: 0rem .2rem;
    font-size: min(2vmin, 1rem);
}
.blank-star-product-deets {
    color: gray;
    font-size: min(2vmin, 1rem);
}
.prod-description-p {
    font-weight: bolder;
    font-size: (2vmin, 1rem);
}

.truck-icon {
    height: min(5vmin, 3rem);
    margin-right: min(3vmin, .5rem);
}

.favorite-shop {
    font-size: 2vmin;
    font-family: 'Mulish', sans-serif;
}
.shop-heart-filled {
    color: red;
}
.follow-unfollow-shop-div {
    cursor: pointer;
    margin-top: min(2vmin, .5rem);
}



.review-num-title {
    font-family: 'Marcellus', serif;
}
.post-item-review {
    border: .1rem solid slategrey;
    border-radius: .3rem;
    font-weight: bold;
    transition: .2s ease-in-out;
    margin: 1rem;
    font-family: 'Marcellus', serif;
    font-size: min(2vmin, .9rem);
}
.post-item-review:hover {
    box-shadow: 0rem 0rem .5rem grey;
}
.mapping-div {
    list-style-type: none;
}
.review-p {
    display: inline;
}
.shop-policy-button {
    cursor: pointer;
}

.num-product-in-cart {
/* background-color: red; */
color: green;
margin-bottom: .75rem;
height: 1rem;
width: auto;
font-size: 1.75vmin;
}
