.left-arrow,
.right-arrow {
    font-size: 4vw;
    color: white;
    opacity: .8;
    position: absolute;
    top: min(20vw, 15rem);
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}
.right-arrow {
    right: 1vw;
}
.left-arrow {
    left: 1vw;
}
.slider-images {
    width: min(55vw, 45rem);
    height: min(40vw, 30rem);
    border-radius: min(2vmin, .5rem);
    object-fit: cover;
}
.product-image-slider {
    position: relative;
    width: min(55vw, 45rem);
    height: min(40vw, 30rem);
    margin: 0vw min(5vw, 3rem) 0rem 3vw;
    border-radius: min(2vmin, .5rem);
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
.product-deets-badge {
    margin: 0rem min(2vmin, .5rem);
}
