.product-detail-div {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.product-preview-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: .3rem;
    margin:  .2rem;
}
.product-grid-div {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}
.product-grid-div-col-a {
    min-width: 60%;
    width: 60%;
    padding-right: 2rem;
}
.chosen-image {
    outline: ridge aqua .3rem;
}
.product-grid-div-col-b {
    width: 15rem;
}

.review-card-div {
    display: flex;
}


.prod-price {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 5px;
}

.prod-search {
    font-size: 16px;
    margin-bottom: 20px;
}

.store-sales {
    font-size: 13px;
}

.store-name {
    margin-bottom: 5px;
}

#p-icon {
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    color: black;
}

.shipping-div {
    display: flex;
    color: black;
}

.name-follows {
    display: flex;
}

.add-to-cart-button {
    border-radius: 24px;
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}

.add-to-cart-button:active {
    background-color: green;
}
.cant-add-cart-button {
    border-radius: 24px;
    border: 2px solid black;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    background-color: grey;
    color: white;
}

.buy-it-button {
    border-radius: 24px;
    border: 2px solid black;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}
.store-info {
    margin-bottom: 2rem;
}

.free-shipping-div {
    margin-bottom: 2rem;
}
.product-images-div {
    width: 60rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.product-images {
    border-radius: .5rem;
}
.product-image {
    width: 100%;
    max-width: 620px;
    max-height: 635px;
    object-fit: cover;
    border-radius: .5rem;
}
.subimage-div {
    width: 55px;
    height: 60px;
}
.product-subimage {
    object-fit: cover;
}
.both-images-div {
    display: flex;
}
.product-subimages-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gold-star-product-deets {
    color: goldenrod;
}
.blank-star-product-deets {
    color: gray;
}
.prod-description-p {
    font-weight: bolder;
}
.product-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.marked {
    border: 4px solid black;
}
.less-than {
    margin-left: 20pxvw;
}
.greater-less-p {
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    font-weight: 900;
    font-size: 1.5rem;
    box-shadow: 0rem 0rem .5rem darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review-num-title {
    font-family: 'Marcellus', serif;
}
.post-item-review {
    border: .1rem solid slategrey;
    border-radius: .3rem;
    font-weight: bold;
    transition: .2s ease-in-out;
    margin: 1rem;
    font-family: 'Marcellus', serif;
}
.post-item-review:hover {
    box-shadow: 0rem 0rem .5rem grey;
}
.mapping-div {
    list-style-type: none;
}

.review-p {
    display: inline;
}
.reviews-text {
    margin-right: 1rem;
}
.fa-star {
    padding-left: 0px;
    padding-right: 0px;
}
.shop-name {
    margin: 0;
    color: rgb(130, 52, 149);
    text-decoration: underline;
}

.shop-name:hover, .shop-policy-button {
    cursor: pointer;
}
