.product-detail-div {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-preview-img {
    width: 5vmin;
    height: 5vmin;
    object-fit: cover;
    border-radius: .3rem;
    margin:  .3vw;
    cursor: pointer;
}
.product-grid-div {
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.product-grid-div-col-b {
    width: 20vw;
    min-width: 7rem;
}
.chosen-image {
    outline: ridge aqua .5vmin;
}
.review-card-div {
    display: flex;
}
.prod-price {
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 2vh;
}
.prod-search {
    font-size: 2vmin;
    margin-bottom: 2vmin;
}
.store-sales {
    font-size: 1.5vmin;
}
.store-name {
    margin-bottom: 5px;
}

.shipping-div {
    display: flex;
    color: black;
}

.name-follows {
    display: flex;
}

.add-to-cart-button {
    border-radius: 24px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 2vmin;
    width: 20vw;
    min-width: 5rem;
    padding: 1vh;
    margin-bottom: 1.5vmin;
    transition: .2s ease-in-out;
}

.add-to-cart-button:active {
    background-color: green;
}
.add-to-cart-button:hover {
    outline: min(.5vmin, .3rem) ridge aqua;
    background-color: rgb(0, 172, 172);
}
.cant-add-cart-button {
    border-radius: 2rem;
    display: block;
    padding: 1vmin;
    margin-bottom: 1vmin;
    background-color: grey;
    color: white;
}

.review-info-div {
    width: 80vw;
}
.store-info {
    margin-bottom: 1vh;
}

.free-shipping-div {
    margin-bottom: 4vmin;
    font-size: 1.7vmin;
}
.product-images-div {
    margin-left: 2vw;
    margin-right: 2vw;
}

.prod-description-text,
.free-shipping-div
.shop-name,
.store-follows {
    font-size: 1.7vmin;
}
.subimage-div {
    display: flex;
    flex-direction: column;
}
.product-subimage {
    object-fit: cover;
}
.both-images-div {
    display: flex;
}
.product-subimages-div {
    display: flex;
}
.gold-star-product-deets {
    color: goldenrod;
    font-size: 3vmin;
}
.blank-star-product-deets {
    color: gray;
    font-size: 3vmin;
}
.prod-description-p {
    font-weight: bolder;
    font-size: 2vmin;
}

.review-info-div,
.product-deets-reviews{
    width: min(80vw, 1600px);
}

.review-num-title {
    font-family: 'Marcellus', serif;
}
.post-item-review {
    border: .1rem solid slategrey;
    border-radius: .3rem;
    font-weight: bold;
    transition: .2s ease-in-out;
    margin: 1rem;
    font-family: 'Marcellus', serif;
}
.post-item-review:hover {
    box-shadow: 0rem 0rem .5rem grey;
}
.mapping-div {
    list-style-type: none;
}
.review-p {
    display: inline;
}
.reviews-text {
    margin-right: 1rem;
}
.fa-star {
    padding-left: 0px;
    padding-right: 0px;
}
.shop-name {
    margin: 0;
    color: rgb(130, 52, 149);
    text-decoration: underline;
    font-size: 1.7vmin;
}

.shop-name:hover, .shop-policy-button {
    cursor: pointer;

}

.shipping-div {
    align-items: center;
}

.fa-truck {
    margin-right: 5px;
}

.icons {
    display: flex;
}

@media only screen and (max-width: 768px){
    .product-detail-div,
    .review-info-div,
    .product-grid-div
    .product-deets-reviews {
        max-width: 96vw;
    }
    .both-images-div {
        display: flex;
        flex-direction: column-reverse;
    }
    .subimage-div {
        display: flex;
        flex-direction: row;
    }
    .product-preview-img {
        width: 7vmin;
        height: 7vmin;
    }

}
