.signup-modal {
    margin: min(5vmin, 2rem);
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    font-size: min(2vmin, .8rem);
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-top: 0rem;
    overflow: scroll;
}
.signup-title {
    font-family: 'Marcellus', serif;
    font-size: min(8vmin, 2rem);
}
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-input {
    font-size: min(6vmin, 1.4rem);
    border-radius: min(2vmin, .5rem);
    border: grey solid .1rem;
    box-shadow: inset 0rem .2rem .05rem lightgrey;
    width: min(80vmin, 20rem);
    align-items: center;
    margin-top: min(5vmin, 1.6rem);
}
.signup-bio {
    height: min(20vmin, 10rem);
}
#register-button {
    width: 20rem;
    margin: 1rem;
    border: grey .1rem solid;
    background-color: rgb(36, 36, 36);
    color: white;
    font-weight: bolder;
    font-size:  1rem;
    height: 2.5rem;
    border-radius: 5rem;
    margin: 0rem;
    margin-top: (5vmin, 3rem);
    cursor: pointer;
}
.errors {
    color: red;
    width: min(80vmin, 20rem);
    font-family: 'Mulish', sans-serif;
    font-size: min(4vmin, 1.3rem);
}
.submit {
    cursor: pointer;
}
