.shop-page {
    left: 0rem;
    right: 0rem;
}
.shop-header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(242, 242, 242);

}
.shoplogo {
    object-fit: cover;
    max-height: 8vw;
    max-width: 8vw;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: .5rem;
}
.shop-businesscard  {
    display: flex;
    flex-direction: row;
}
.businesscard-title {
    font-family: 'Marcellus', serif;
    line-height: 1.5;
    margin: 0rem;
}
.shop-businesscard-info {
    margin-left: 1rem;
    width: 17rem;
}
.sanserif-text {
    font-family: 'Mulish', sans-serif;
    font-size: .8rem;
    line-height: 1rem;
}
.sanserif-text-location {
    margin-top: 1rem;
}
.starseller {
    color: rgb(130, 52, 149);
    font-weight: bolder;
}
.accolades {
    font-family: 'Mulish', sans-serif;
    font-size: .8rem;
    max-width: 20rem;
    margin: .5rem;
}
.accolades-container {
    display: flex;
    flex-direction: row;
}
.purple-icon {
    color: rgb(130, 52, 149);
    font-size: 1.2rem;
    margin-right: .5rem;
}
.fa-message {
    font-size: 1rem
}
.bold-text {
    font-weight: bolder;
    font-size: .9rem;
}
.shop-owner {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    line-height: 1.5rem;
}
.contact-shop-owner {
    width: 7rem;
    border: 1px solid black;
    border-radius: 5rem;
}
.contact-shop-owner:hover {
    cursor: pointer;
}
.shop-owner-img {
    border-radius: 5rem;
    object-fit: cover;
    height: 4em;
    width: 4rem;
}
.message-shop-owner {
    display: flex;
    flex-direction: row;
}
.favorite-shop {
    border: black solid .15rem;
    border-radius: 5rem;
    width: 15vw;
    min-width: 10rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    padding: .5rem;
    box-shadow: 0rem 0rem .5rem lightslategray;
    margin: 1rem;
    /* margin-left: 10rem; */
    transition: .1s ease-in-out;
}

.favorite-shop:hover {
    background-color: darkgray;
}
.mapped-categories-title {
    font-family: 'Mulish', sans-serif;
}

.featured-items {
    margin-bottom: 0rem;
}
.item-category-sidebar {
    font-family: 'Mulish', sans-serif;
}
.item-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 80vw; */
    gap: 1rem;
    left: 16rem;
}
.item-category-sidebar {
    width: 15rem;
    margin-left: 2rem;
    line-height: 2rem;
}

.mapped-categories {
    border-right: solid .2rem grey;
    padding-bottom: 1rem;
}
.catgory-number {
    float: right;
    margin-right: .5rem;
}
.category{
    transition: opacity 0.3s;
}
.category::after {
    border-bottom: none;
}
.category:hover {
    box-shadow: 0 .2rem 0 grey;
}
.items-section{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
}
.column-buttons {
    text-align: center;
    width: 13rem;
    border: solid .1rem grey;
    margin: 1rem;
    border-radius: .3rem;
    transition: opacity 0.3s;
}
.column-buttons:hover {
    background-color: grey;
}
.column-buttons::after {
    background-color: none;
}
.category-column-buttons{
    margin-top: 3rem;
}
hr {
    margin: 2rem;
    color: gray;
}
.review-title {
    margin-left: 20vw;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.fa-flag, .fa-thumbs-up {
    font-size: .7rem;
}
.feedback {
    display: flex;
    flex-direction: row;
}

.report {
    margin-left: 10rem;
}
.mapping-reviews {
    width: 60vw;
    margin-left: 20vw;
    font-family: 'Mulish', sans-serif;
}
.user-icon {
    object-fit: cover;
    width: 5vw;
    height: 5vw;
    border-radius: 5rem;
    position: absolute;
    left: 12vw;
}
.review-paragraph {
    margin-top: 2rem;
}
.product-ref-img{
    object-fit: cover;
    height: 17vw;
    width: 17vw;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: .5rem;
    margin: 2rem;
}
.review-image {
    object-fit: cover;
    height: 23vw;
    width: 23vw;
    min-height: 5rem;
    min-width: 5rem;
    margin-top: 1rem;
    margin: 2rem;
}
.gold-star, .blank-star {
    font-size: 1rem;
}
.gold-star {
    color: goldenrod
}
.blank-star {
    color: grey
}
.review-header {
    display: flex;
    flex-direction: row;
}
.product-reviewed {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.reviewed-item-name{
    margin-left: 10vw;
    margin-top: 3rem;
    align-items: center;
}

@media only screen and (max-width: 1024px){
    .shop-header {
        padding: 1rem;
    }
    .accolades-container {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px){
    .item-category-sidebar {
        font-size: .8rem;
        width: 8rem;
    }
    .category-column-buttons {
        margin: 0rem;
    }
    .column-buttons {
        width: 8rem;
        font-size: .7rem;
        margin: 0rem;
        margin-top: 1rem;
    }
    .businesscard-title {
        font-size: 1rem;
    }
    .sanserif-text,
    .bold-text,
    .accolades-description,
    .shop-owner-name,
    .contact-shop-owner {
        font-size: .7rem;
    }

}
@media only screen and (max-width: 480px){

}
