.shop-page {
    display: flex;
    justify-content: center;
}
/* .shop-deets-80 {
    width: min(90vw, 70rem);
} */
.shop-header {
    padding: 4vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
}
.shoplogo {
    object-fit: cover;
    max-height: 8vw;
    max-width: 8vw;
    min-width: 10vmin;
    min-height: 10vmin;
    border-radius: 1vmin;
}
.shop-businesscard  {
    display: flex;
    flex-direction: row;
}
.businesscard-title {
    font-family: 'Marcellus', serif;
    line-height: 3vmin;
    margin-bottom: 2vmin;
    font-size: 3vmin;
    margin-top: 0rem;
}
.shop-businesscard-info {
    margin-left: 2vmin;
    width: 22vw;
    min-width: 8rem;
}
.sanserif-text {
    font-family: 'Mulish', sans-serif;
    font-size: 1.5vmin;
    line-height: 1.5vmin;
}
.sanserif-text-location {
    margin-top: 2vmin;
}
.starseller {
    color: rgb(130, 52, 149);
    font-weight: bolder;
}
.accolades {
    font-family: 'Mulish', sans-serif;
    margin: .5rem;
}
.accolades-container {
    font-size: 1.5vmin;
    display: flex;
    flex-direction: row;
}
.purple-icon {
    font-size: 2vmin;
    color: rgb(130, 52, 149);
    margin-right: 1vmin;
}
.fa-message {
    font-size: 2vmin
}
.bold-text {
    font-weight: bolder;
    font-size: 1.7vmin;
}
.shop-owner {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    line-height: 1.5rem;
    font-size: 2vmin;
}
.contact-shop-owner {
    width: 14vmin;
    border-radius: 5rem;
    font-size: 2vmin;
    cursor: pointer;
    color: rgb(56, 56, 56);
    transition: .2s ease-in-out;
}
.contact-shop-owner:hover {
    background-color: rgb(224, 224, 224);
    color: #000000;
}
.shop-owner-img {
    border-radius: 12vmin;
    object-fit: cover;
    height: 10vmin;
    width: 10vmin;
}
.message-shop-owner {
    display: flex;
    flex-direction: row;
}
.favorite-shop {
    border: rgb(74, 74, 74) solid .2vmin;
    border-radius: 12vmin;
    width: 17vw;
    min-width: 7rem;
    text-align: center;
    font-size: 2vmin;
    font-family: 'Mulish', sans-serif;
    padding: .5vmin;
    margin: 3vh;
    transition: .2s ease-in-out;
}

.favorite-shop:hover {
    scale: 1.1;
    border: rgb(0, 0, 0) solid .2vmin;
    box-shadow: 0rem 0rem min(2vmin, 1rem) darkgray;
}
.mapped-categories-title {
    font-family: 'Mulish', sans-serif;
}

.featured-items {
    margin-bottom: 0rem;
}
.item-category-sidebar {
    font-family: 'Mulish', sans-serif;
}
.item-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vmin;
    left: 16vw;
}
.item-category-sidebar {
    width: 24vmin;
    line-height: 4vmin;
    font-size: 2vmin;
}

.mapped-categories {
    border-right: solid .2rem grey;
    padding-bottom: 1rem;
}
.catgory-number {
    float: right;
    margin-right: .5rem;
}
.category{
    transition: opacity 0.3s;
}
.category::after {
    border-bottom: none;
}
.category:hover {
    box-shadow: 0 .2rem 0 grey;
}
.items-section {
    display: flex;
    flex-direction: row;
    gap: 2vmin;
    margin-top: 3vh;
}
.column-buttons {
    text-align: center;
    width: 23vmin;
    border: solid .1vmin grey;
    border-radius: 1vmin;
    margin-top: 2vmin;
    transition: opacity 0.3s;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-size: min(1.7vmin, 1rem);
    padding: 1vmin;
}
.column-buttons:hover,
.contact-shop-owner:hover {
    scale: 1.1;
}
.column-buttons::after {
    background-color: none;
}
.category-column-buttons{
    margin-top: 3rem;
}
hr {
    margin: 2rem;
    color: gray;
}
.review-title {
    /* margin-left: 20vw; */
    font-size: 4vmin;
    margin-bottom: 4vh;
}
.fa-flag, .fa-thumbs-up {
    font-size: min(2vmin, 1rem);
    margin-right: .5rem;
}
.feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mapping-reviews {
    width: 60vw;
    margin-left: 10vw;
    font-family: 'Mulish', sans-serif;
}
.shop-deets-user-deets {
    display: flex;
    flex-direction: column;
}
.user-icon {
    object-fit: cover;
    width: 5vw;
    height: 5vw;
    border-radius: 5rem;
    position: sticky;
    margin: 1rem;
}
.helpful,
.report,
.username,
p.review-paragraph {
    font-size: min(2vmin);
    width: fit-content;
}
.product-ref-img{
    object-fit: cover;
    height: 17vw;
    width: 17vw;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: .5rem;
    margin: 2vw;
}
.review-image {
    object-fit: cover;
    height: 23vw;
    width: 23vw;
    min-height: 5rem;
    min-width: 5rem;
    margin-top: 1rem;
    margin: 2vw;
    margin-left: 25vmin;
}
.gold-star, .blank-star {
    font-size: 2.4vmin;
}
.gold-star {
    color: goldenrod
}
.blank-star {
    color: grey
}
.review-header {
    display: flex;
    flex-direction: row;
}
.product-reviewed {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.reviewed-item-name{
    /* margin-left: 10vmin; */
    margin-top: 5vmin;
    font-size: min(2.5vmin, 1.7rem);
    align-items: center;
}

@media only screen and (max-width: 768px){
    .accolades-container {
        display: block;
    }
    .helpful,
    .report,
    .username,
    p.review-paragraph {
        font-size: min(2.5vmin);
    }
    .shop-deets-80 {
        width: min(90vw, 70rem);
    }
}
