.cp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.q-text {
    font-size: 24px;
}

.sub-q-text {
    font-size: 14px;
}

.product-description-div, .product-name-div, .product-available-div, .product-price-div, .product-img1-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.category-shipping-div {
    display: flex;
    justify-content: space-between;
}

.product-category-div, .product-shipping-div {
    width: 50%;
}

.error {
    font-size: 14px;
    color: red;
}