.landing-shop-card {
    width: 45vmin;
    height: 45vmin;
    box-shadow: 0rem 0rem 1vmin grey;
    border-radius: 1vmin;
    position: relative;
    margin-top: 1vmin;
    justify-content: center;
    align-content: center;
}
.shops-youll-love-text {
    width: 45vmin;
    height: 45vmin;
}
.shop-image-grid-image {
    width:21vmin;
    height: 16vmin;
    border-radius: .5vmin;
    object-fit: cover;
}
.shop-image-grid {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    gap: 1vmin;
    padding: 1vmin;
    margin-top: 2vmin;
}
.shop-card-logo {
    width: 9.5vmin;
    height: 9.5vmin;
    border-radius: .5vmin;
    margin-left: .5rem;
}

.shop-card-text {
    font-family: 'Mulish', sans-serif;
    line-height: 2vmin;
    font-size: 2.5vmin;
    padding: .3rem;
    width: 25vmin;
}
.shop-card-stars {
    margin-top: 2vmin;
}
.landing-shops-business-card {
    /* margin-top: .2rem; */
    display: flex;
    flex-direction: row;
}
.landing-shop-stars {
    font-size: .6rem;
    margin: 0rem;
    padding:0rem;
}
.shop-card-heart {
    align-items: end;
}
.landing-shop-heart {
    font-size: 2.5vmin;
}

/* @media only screen and (max-width: 1200px){
    .landing-shop-card,
    .shops-youll-love-text {
        width: 16rem;
        height: 16rem;
    }
    .shops-youll-love{
        gap: .5rem;
    }
    .shop-image-grid-image {
        width: 7rem;
        height: 6rem;
    }
    .shop-card-text,
    .shop-card-text > p,
    .shop-card-logo {
        margin: 0rem;
        padding: 0rem;
        margin-left: .5rem;
    }
    .landing-shops-business-card {
        margin: 0rem;
    }
    .shop-card-heart {
        margin-top: 1.5rem;
    }

} */
