.review-card-div {
    margin-top: 2vmin;
}

.rev-author-info {
    display: flex;
    margin-top: 2vmin;
    font-size: 2vmin;
}

.detail-icon {
    display: inline-block;
    position: static;
}
.rev-stars {
    margin-bottom: 2vmin;
}
#detail-review-icon {
    position: static;
    width: 8vmin;
    max-width: 5rem;
    height: 8vmin;
    max-height: 5rem;
    margin-right: 1vmin;
}

.author-names {
    display: flex;
}

.author-subdiv-names, .review-created {
    position: relative;
    top: 7px;
}

.author-subdiv-names {
    margin-right: 1vmin;
}

.review-image-detail {
    height: 20vmin;
    width: 20vmin;
    object-fit: cover;
    border-radius: .25rem;
    margin-top: 5vmin;
}
.delete-review-button,
.edit-review-button {
    border: .1rem solid grey;
    transition: .2s ease-in-out;
    font-weight: bolder;
    border-radius: .4rem;
    margin: 1rem;
    font-family: 'Marcellus', serif;
    font-weight: bold;
}

.delete-review-button:hover,
.edit-review-button:hover {
    box-shadow: 0rem 0rem .5rem black;
}
.rev-col-a {
    margin:2vmin;
    font-size: 2vmin;
}
.review-num-title {
    font-size: 4vmin;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
}
.gold-star.review-index-stars {
    color: goldenrod;
}
.review-index-stars {
    font-size: 2vmin;
}
