.review-card-div {
margin-top: 2rem;
}

.rev-author-info {
    display: flex;
}

.detail-icon {
    display: inline-block;
    position: static;
}
.rev-stars {
    margin: 1rem;
}
#detail-review-icon {
    position: static;
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.author-names {
    display: flex;
}

.author-subdiv-names, .review-created {
    position: relative;
    top: 7px;
}

.author-subdiv-names {
    margin-right: 8px;
}

.review-image-detail {
    height: 185px;
    width: 185px;
}
.delete-review-button,
.edit-review-button {
    border: .1rem solid grey;
    transition: .2s ease-in-out;
    font-weight: bolder;
    border-radius: .4rem;
    margin: 1rem;
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
.delete-review-button {
    /* background-color: rgb(222, 103, 6); */
}
.delete-review-button:hover,
.edit-review-button:hover {
    box-shadow: 0rem 0rem .5rem black;
}
