.review-card-div {
    padding: 3vmin;
}

.rev-author-info {
    display: flex;
    font-size: 2vmin;
}
.rev-stars {
    margin-bottom: .5vmin;
    font-size: min(1.5vmin, .9rem);
}
#detail-review-icon {
    display: inline-block;
    position: static;
    width: 5vmin;
    max-width: 3rem;
    height: 5vmin;
    max-height: 3rem;
    margin: 0rem min(2vmin, 1rem) 0rem 0rem;
    object-fit: cover;
}

.author-subdiv-names, .review-created {
    position: relative;
    color: rgb(69, 69, 69);
    font-size: min(1.7vmin, .9rem);
}

.author-subdiv-names {
    margin-right: 1vmin;
}

.review-image-detail {
    height: 20vmin;
    width: 20vmin;
    object-fit: cover;
    border-radius: .25rem;
    margin-left: 2vmin;
}
.delete-review-button,
.edit-review-button {
    border: .1rem solid grey;
    transition: .2s ease-in-out;
    font-weight: bolder;
    border-radius: .4rem;
    margin: 1rem;
    font-family: 'Marcellus', serif;
    font-weight: bold;
    font-size: min(2.5vmin, .9rem);
}

.delete-review-button:hover,
.edit-review-button:hover {
    box-shadow: 0rem 0rem .5rem black;
}
.rev-review {
    font-size: min(2vmin, 1rem);
    line-height: min(4vmin, 2rem);
}
.review-num-title {
    font-size: 3vmin;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
}
.gold-star.review-index-stars {
    color: black;
}
.review-index-stars {
    font-size: 2vmin;
    margin: 0rem .1rem;
}
.review-hr {
    margin: 0rem 4vmin;
}
