
<h1>Main Page</h1>
<!--  -->
<h2>List of Products</h2>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page.css') }}">
<div id="list_of_products">
    {% for product in products %}
    <div class="product" id="product_{{product.id}}">Product {{product.id}}
        <div>{{ product.id }}</div>
        <div>{{ product.available }}</div>
        <div>{{ product.category }}</div>
        <div>{{ product.description }}</div>
        <div>{{ product.freeShipping }}</div>
        <div>{{ product.name }}</div>
        <div>{{ product.price }}</div>
        <div>{{ product.shopId }}</div>
        <div>{{ product.shopId }}</div>
    </div>
    {% endfor %}
</div> -->
